<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183501227160-64prjoaa0s9ibhvgcm7qfe9cfnadbmd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183501227160-64prjoaa0s9ibhvgcm7qfe9cfnadbmd7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183501227160-it902d56t4snj006gm2ov39t95v48k7o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOx3ZEcGRSpnmhK-hBv1eH1SxzIyyFKUo</string>
	<key>GCM_SENDER_ID</key>
	<string>183501227160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryWithProviderUsingFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-97408</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-97408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183501227160:ios:7a9ab49f5c42a2b5727ced</string>
</dict>
</plist>